[Unit]
Description=Job to send transactions log to telegram
Wants=fints2zen.service
After=fints2zen.service

[Service]
Type=oneshot
ExecStart=bash -c '/usr/bin/telegram-send "$(systemctl --user status fints2zen.service | grep PID:)" -f "%h/.cache/fints2zen-out.log"'

[Install]
WantedBy=default.target
